@model List<CoreMvcPortfolioProject.DAL.Entities.Experience>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="main-panel">
	<div class="content">
		<div class="container-fluid">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header">
						<div class="card-title">Experience Table</div>
					</div>
					<div class="card-body">
						<table class="table table-hover">
							<thead>
								<tr>
									<th scope="col"><b>Experience Id</b></th>
									<th scope="col"><b>Head</b></th>
									<th scope="col"><b>Title</b></th>
									<th scope="col"><b>Date</b></th>
									<th scope="col"><b>Description</b></th>
									<th scope="col"><b>Operations</b></th>
								</tr>
							</thead>
							<tbody>
								@foreach (var item in Model)
								{
									<tr>
										<td><b>@item.ExperienceId</b></td>
										<td>@item.Head</td>
										<td>@item.Title</td>
										<td>@item.Date</td>
										<td>@item.Description</td>
										<td>
											<a href="/AdminExperiences/UpdateExperience/@item.ExperienceId" class=" btn btn-warning btn-sm" style="font-size: 12px"><i class="fa-solid fa-pencil fa-sm me-1"></i> Update</a>
											<br /><br />
											<a href="/AdminExperiences/DeleteExperience/@item.ExperienceId" class="btn btn-danger btn-sm" style="font-size: 12px"><i class="fa-solid fa-trash fa-sm me-1"></i> Delete</a>
										</td>
									</tr>
								}
							</tbody>
						</table>
						<a href="/AdminExperiences/AddNewExperience/" class="btn btn-success" style="font-size: 12px"><i class="fa-solid fa-plus fa-sm me-2"> Add New Experience</i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


